<div class="jumbotron">
    <h1 class="display-3">Chores</h1>
    <p class="lead">Add people and chores with the forms below.</p>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-4">
        <form class="form-inline" #newPersonForm="ngForm" (ngSubmit)="addPerson(newPersonForm); resetForm(newPersonForm)"> 
          <label class="sr-only" for="name">Name</label>
          <div class="input-group mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Person</div>
            </div>
            <input type="text" class="form-control" id="name" [readonly]="showResults" name="PersonName" ngModel required #PersonName="ngModel">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="showResults || newPersonForm.invalid">Add</button>
        </form>
      </div>
      <div class="col-md-6">
        <form class="form-inline" #newChoreForm="ngForm" (ngSubmit)="addChore(newChoreForm); resetForm(newChoreForm)">
          <label class="sr-only" for="title">Title</label>
          <div class="input-group mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Chore</div>
            </div>
            <input type="text" class="form-control" id="title" [readonly]="showResults" name="ChoreName" ngModel required #ChoreName="ngModel">
          </div>
          <label class="sr-only" for="effort">Effort</label>
          <div class="input-group col-md-3">
            <div class="input-group-prepend">
              <div class="input-group-text">Effort</div>
            </div>
            <input type="number" class="form-control" id="effort" [readonly]="showResults" name="Effort" ngModel required #Effort="ngModel">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="showResults || newChoreForm.invalid || !isValidEffortInput(newChoreForm.value)">Add</button>
        </form>
      </div>
      <div class="col-md-2 btn-group">
        <button class="btn btn-warning" (click)="resetChores()" [disabled]="!showResults">Reset</button>
        <button class="btn btn-success" (click)="randomlyAssignChores()" [disabled]="showResults || !chores.length > 0 || !people.length > 0">Randomize</button>
      </div>
    </div>
</div>

<div class="container mb-5">
  <div class="row">

    <div class="col-md-6 p-4">
      <h1>People</h1>
      <ul class="list-group">
        <li *ngFor="let person of people" class="list-group-item d-flex justify-content-between align-items-center">
          <button class="btn" [disabled]="showResults" (click)="deletePerson(person.id)"><fa name="times" class="text-danger"></fa></button>
          <span class="all-people-person-name">{{person.name}}</span>
        </li>
      </ul>
    </div>

    <div class="col-md-6 p-4">
      <h1>All Chores</h1>
      <ul class="list-group">
        <li *ngFor="let chore of chores" class="list-group-item d-flex justify-content-between align-items-center">
          <button class="btn" [disabled]="showResults" (click)="deleteChore(chore.id)"><fa name="times" class="text-danger"></fa></button>
          <span class="all-chores-chore-title">{{chore.title}}</span>
          <span class="badge badge-primary badge-pill">{{chore.effort}}</span>
        </li>
      </ul>
    </div>

  </div>

  <div *ngIf="showResults" class="row">

    <div *ngFor="let person of people" class="col-md-6 p-4">
      <h1>{{person.name}}</h1>
      <ul class="list-group">
        <li *ngFor="let chore of person.chores" class="list-group-item d-flex justify-content-between align-items-center">
          <span [className]="chore.completed ? 'chore-title line-through' : 'chore-title'">{{chore.title}}</span>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="completed-chore-{{chore.id}}" [checked]="chore.completed" (change)="clickedCompleted($event, person.id, chore.id)">
            <label class="custom-control-label" for="completed-chore-{{chore.id}}">Completed?</label>
          </div>
          <span class="badge badge-primary badge-pill">{{chore.effort}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-secondary">
          <span class="chore-title">Effort Remaining</span>
          <span class="badge badge-primary badge-pill">{{effortRemaining(person)}}</span>
        </li>
      </ul>
      <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width]="person.effortCompleted + '%'"></div>
        </div>
    </div>

  </div>  

</div>